extends layout

block content
  .row
    .col-xs-12
      img(src='/images/balance.jpg')
  .row
    .col-xs-4
      img(src='/images/designer.jpg')
      a New Organic Supima Collection
      p Live Good is one of the few companies in the world with access to Organic Supima cotton. Known as the “cashmere of cotton,” Supima’s longer strand length creates the softest and strongest cotton fabric available, retaining brilliant color and lustrous sheen.
      a »Learn More
    .col-xs-4
      img(src='/images/organic.jpg')
      a Certified Organic Product Line
      p The harmful effects of chemical pesticides and fertilizers on human and environmental health have been well documented. Conscientious consumers look for natural products that have undergone rigorous inspection to earn the organic label.
      a »Learn More
    .col-xs-4
      img(src='/images/mission.jpg')
      a Our Mission and Ethics
      p To Live Good means to live both sustainably and well. Our pledge is to provide you with the tools and resources to enjoy a lifestyle that honors your own needs as well and those of the planet and the communities in which we live.
      a »Learn More
